/*Обнуление*/
*,
p {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

html,
body,
.container {
  height: 100vh;
  font-size: 14pt;
  color: #111111;
}

a,
a:visited {
  text-decoration: none;
}

ul,
li {
  margin: 0;
}
button {
  cursor: pointer;
}

input {
  border: 1px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.content {
  flex: 1 0 auto;
}

.btn {
  color: white;
  margin-left: auto;
  margin-right: auto;
  background: rgb(14, 173, 201);
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(13, 105, 121);
  font-size: 9px;
  margin-right: 5px;
}
